/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F0F8FF;
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  padding: 10px;
  min-height: 100vh;

}

a {
  color: #357b70;
  -webkit-transition: color, font-size .3s ease-out;
  -o-transition: color, font-size .3s ease-out;
  transition: color, font-size .3s ease-out;

}

a:visited {
  color: #000000;

}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #457DFB;
  font-size: 20px;


}

a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #457DFB;
  font-size: 20px;


}

.active__navigation a:visited {
  /* selected link */
  color: #0066ff;
}

button  {
  /* overwrit es browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin-left:10px;
  -webkit-transition: 0.8s opacity;
  -o-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

.button  {
  /* overwrit es browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin-left:10px;
  -webkit-transition: 0.8s opacity;
  -o-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.7;
}

table{
}


.btn{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;


}
.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}
.profile__portrait {
  width: 350px;
  height: auto;
  margin-right: 40px;
  border-radius: 25%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  background-color: lightgray;
  margin-top:10px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#intro {
  text-align: center;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  border-bottom: solid 1px lightgray;
  margin:10px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.center{
  text-align:center;
  font-size: 20px;
}
table{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-size: 20px;
}
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 30%;
}

/* end grid fallback */
@supports (display:grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }


  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    padding: 10px;
  }

}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.suns {
  -webkit-animation: 10s color-change infinite alternate linear;
          animation: 10s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(450px, 50px);
            transform: translate(450px, 50px);
  }
  to {
    -webkit-transform: translate(100px, 50px);
            transform: translate(100px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(450px, 50px);
            transform: translate(450px, 50px);
  }
  to {
    -webkit-transform: translate(100px, 50px);
            transform: translate(100px, 50px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
